*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.background__food {
    background-color: rgb(24, 23, 23);
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.6s ease-in; 
    background-repeat: no-repeat;
}

.background__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    color: antiquewhite;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    cursor: pointer;
    z-index: 2; 

}
  .background__info_items:hover  {
            opacity: 0.3;
        }

        
 .background__info_items {
            transition: opacity 0.3s ease, transform 0.3s ease;
            cursor: pointer;
 }
           


     h2 {
            font-size: 3rem;
        }

     span {
            font-size: .75rem;
            text-transform: uppercase;
        }








.wings {

}

.wraps {

}

.hotDogs {

}

.pizzas {

}

.sandwiches {

}

.fries {

}

.drinks {

}

.extras {

}

.desserts {
}